.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  margin-bottom: 40px !important;
}

.header h3 {
  margin: 0!important;
}

.back-home {
  position: absolute !important;
  left: 14px;
}

.back-home > a {
  color: white;
}
